<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @cruise_type.description %>
</p>


<%= link_to 'Edit', edit_cruise_type_path(@cruise_type) %> |
<%= link_to 'Back', cruise_types_path %>
